{% extends 'kach/base.html'%}

{% block title %} Список упражнений {% endblock %}

{% block context %}
<ul class="list-articles">
	{% for exercise in exercises %}
		<li>
			<div class="article-panel">
				<p class="first">Категория: {{exercise.exercise_type}}</p>
				<p class="last">Дата: {{exercise.created_at|date:"d-m-Y H:i:s"}}</p>
			</div>
			<div>
				<h2><a href="{{exercise.get_absolute_url}}">{{exercise.name}}</a></h2>
				{% autoescape on %}
					{{exercise.description|linebreaks|truncatewords:50}}
				{% endautoescape %}
			</div>
	{% endfor %}
</ul>
{% endblock %}


